<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <div>
    <h1>Witaj na stronie Panelu Pacjnta Poradni Dietetycznej Victu Vitae</h1>
    <div>
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'rejestracja' %}"><button>Rejestracja</button></a>
    </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>