{% extends 'base.html' %}

{% block content %}
  <h2>Panel Pacjenta</h2>

  {% if feedbacks %}
    <h3>Informacje od pacjenta:</h3>
    {% for feedback in feedbacks %}
      <p>Data dodania uwagi: {{ feedback.date_added }}</p>
      <p>Uwagi: {{ feedback.comment }}</p>
    {% endfor %}
  {% endif %}

  <h3>Informacje od dietetyka:</h3>
  <ul>
    {% for wizyta in wizyty %}
      <li>Data wizyty: {{ wizyta.date }}, Opis wizyty: {{ wizyta.description }}</li>
    {% endfor %}
  </ul>

  <h3>Twoje diety:</h3>
  <ul>
    {% for dieta in diety %}
      <li>Data dodania diety: {{ dieta.date_added }}</li>
      <li>
        Plik PDF:
        <a href="{% url 'pobierz_diete' dieta.id %}" target="_blank">Pobierz dietę</a>
      </li>
    {% endfor %}
  </ul>

  <form method="post" action="{% url 'panel_pacjenta' %}">
    {% csrf_token %}
    <label for="uwagi">Dodaj komentarz:</label>
    <textarea name="uwagi" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Zapisz</button>
  </form>
{% endblock %}